body {
width: 1024px;
height: 3452px;

background: #FFFFFF;
}

.p1 {
width: 265px;
height: 25px;
margin-left: 25px;
margin-top: 23px;

/* Desktop headers/h4 heading */

font-family: 'KingsBureauGrot';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

letter-spacing: 0.25px;

color: #000000;
}

.img1 {
padding-top: 19px;
width: 1023px;
height: 652px;
margin-left: 15px;
padding-left: 10px;

}

.p2 {
width: 550px;
height: 24px;
margin-left: 25px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: -0.025em;

/* Font colours/Body text */

color: #333333;
}

.p3 {
    width: 265px;
height: 25px;
margin-left: 377px;
margin-top: 24px;
font-family: 'KingsBureauGrot';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

letter-spacing: 0.25px;

color: #000000;
}

.p4 {
    width: 260px;
height: 25px;
margin-left: 750px;
margin-top: 50px;
font-family: 'KingsBureauGrot';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

letter-spacing: 0.25px;

color: #000000;
}

.img2 {
    width: 766.99px;
height: 489.52px;
margin-left: 138.5px;
}

.p5 {
    width: 551px;
height: 24px;
margin-left: 236px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

text-align: center;
letter-spacing: -0.025em;

/* Font colours/Body text */

color: #333333;
}

.p6 {
    width: 265px;
    height: 25px;
    margin-left: 377px;
    margin-top: 46px;
    font-family: 'KingsBureauGrot';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    
    letter-spacing: 0.25px;
    
    color: #000000;
}

.p7 {
    width: 264px;
height: 25px;
margin-left: 24px;
margin-top: 33px;
font-family: 'KingsBureauGrot';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

letter-spacing: 0.25px;

color: #000000;
}

.img3 {
    width: 1453px;
height: 237px;
margin-left: 20px;
margin-top: 7px;
}

.img4 {
    left: 2.34%;
right: 33.79%;
top: 81.17%;
bottom: 18.6%;

/* Text link colours/Text link visited #0A2D50 */

background: #0A2D50;
}

.p8 {
    width: 558px;
height: 24px;
margin-left: 24px;
margin-top: 6px;

/* Image caption */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: -0.025em;

/* Font colours/Body text */

color: #333333;
}

.img5 {
    width: 398px;
height: 260px;
margin-left: 30px;
margin-top: 18px;
}

.p9 {
    width: 232px;
height: 25px;
margin-left: 436px;
margin-top: 56px;

/* Desktop headers/h4 heading */

font-family: 'KingsBureauGrot';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

letter-spacing: 0.25px;

color: #000000;
}

.img6 {
    margin-left: 437px;
margin-top: 18px;
border-radius: 100px;
}