body {
    width: 100%;
    margin: 0;
}

.screen1, .screen2, .screen3, .screen4 {
    width: 100%;
    min-height: 85vh;
    border: 1px solid black;
    display: flex;
}

img {
    max-width: 100%;
    margin: auto;
}


header {
    height: 15vh;
    position: sticky;
    top: 0px;
    align-items: center;
    display: flex;
    font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
color: #FFFCFC;    
}


.logo-header {
width: 15%;
 }

.list-header {
    width: 85%;
    min-height: 100%;
    background: #000000;
}

ul {
    margin-top: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

li {
    padding-right: 3%;
}

.block1, .block2, .block3, .block4 {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.block1 {
    animation: block1-animation 5s;
}

.block2 {
    animation: block2-animation 5s;
}

.block3 {
    animation: block3-animation 5s;
}

.block4 {
    animation: block4-animation 5s;
}

@media screen and (max-width: 1620px) {
body {
    width: 90%;
    margin: auto;
}
}

@media screen and (max-width: 992px) {

    .screen1 {
        flex-direction: column;
    }

    @keyframes block1-animation {
            from {
                transform: translateX(800px);
                
              }
            
              to {
                transform: translateX();
                
              }
    }

    @keyframes block2-animation {
        from {
            transform: translateX(-800px);
            
          }
        
          to {
            transform: translateX();
            
          }
    }
    @keyframes block3-animation {
        from {
            transform: translateX(800px);
            
          }
        
          to {
            transform: translateX();
            
          }
}

@keyframes block4-animation {
    from {
        transform: translateX(-800px);
        
      }
    
      to {
        transform: translateX();
        
      }
}
}
    
